

.cross{
  right:0;
}

.item{
  width: 80%;
}
@media screen and (min-width:600px){
  
  li:hover .cross{
    right:0;
  }
  li:hover .item{
    width: 80%;
  }
  .item{
    width: 90%;
  }
  li .cross{
    right:-35px;
  }
}

body{
  font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}